spring:
  application:
    name: demo
  datasource:
    url: jdbc:mariadb://localhost:3306/test
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        highlight_sql: true
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    show-sql: true